[Unit]
Description=CPU throttling service

[Service]
EnvironmentFile=/etc/temp-throttle.conf
ExecStart=/opt/scripts/temp-throttle $ARG1
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
